/*Auteur*/
#writerSearch
{
    margin: 4%;
    border: 1px solid #DC8227;
}
#writerForm
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2%; 
}
#writerHeader
{
    background-color: #DC8227;
    color: white;
    padding: 3%;
    margin: 0;
}
#writerHeader:hover
{
    cursor: pointer;
}

.hidden
{
    display: none;
}