.container_Rech_Ex{
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: white;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: solid 4px rgba(49, 175, 160, 1);
    border-radius: 10px;
}
#archiverAdherent{
   background-color:rgba(220, 130, 39, 1) 
}
#archiverAdherent:hover{
    background-color: rgba(49, 175, 160, 1)
}

.containerDeToutLeProfilAdherent{
    width: 100%;
    display:flex ;
}
.container_Des_Infos{
    width: 33%;
    border: solid 4px rgba(49, 175, 160, 1);
    border-left: none;
    border-bottom: none;
    
}
.titreInfo{
    font-family: "roboto-medium";
    font-size: 22px;
    background-color: rgba(220, 130, 39, 1);
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
    
}
.centreInfo{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5%;
    
}
.container_Des_emprunts{
    width: 34%;
    border: solid 4px rgba(49, 175, 160, 1);
    border-left: none;
    border-bottom: none;
    border-right: none;
}
.titreEmprunts{
    font-family: "roboto-medium";
    font-size: 22px;
    background-color:rgba(49, 175, 160, 1);
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
.container_Des_gestions{
    width: 33%;
    border: solid 4px rgba(49, 175, 160, 1);
    border-bottom: none;
    border-right: none;
}

.titreGestion{
    font-family: "roboto-medium";
    font-size: 22px;
    background-color:rgba(220, 130, 39, 1);
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
.titre{
    font-family: "roboto-medium";
    font-size: 21px;
    color: #AD033A;
}
.zoneInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.zoneInfoCotisation{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25%;
    padding-bottom: 100px;
    border: solid 4px rgba(49, 175, 160, 1);
    border-right: none;
    border-left: none;
    border-top: none;
    
}
#zoneInfoAmende{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20%;
    padding-bottom: 20%;
    border: solid 4px rgba(49, 175, 160, 1);
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
}
#boutonModifierAdherent{
   margin-top: 15%;
}


span{
    font-family: "roboto-medium";
}
.invisible{
    display: none;
}



