.touteLaPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container_Rech_Ex{
    margin: auto;
    margin-top: 10%;
    margin-bottom: 5%;
    background-color: white;
    width: 75%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: solid 4px rgba(49, 175, 160, 1);
    border-radius: 10px;
    
}
#boutonArchiverAdherent{
   background-color:rgba(220, 130, 39, 1);
   margin-bottom: 5%;
   
}
#boutonArchiverAdherent:hover{
    background-color: rgba(49, 175, 160, 1)
}

.containerDeToutLeProfilAdherent{
    width: 100%;
    display:flex ;
    
}
.container_Des_Infos{
    width: 25%;
    border: solid 4px rgba(49, 175, 160, 1);
    border-left: none;
    border-bottom: none;
}
.titreInfo{
    height: 10%;
    font-family: "roboto-medium";
    font-size: 22px;
    background-color: rgba(220, 130, 39, 1);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#centreInfoVisible{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5%;
    
}
#centreInfoInvisible{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 5%;
    display: none;
    
}
.container_Des_emprunts{
    width: 50%;
    border: solid 4px rgba(49, 175, 160, 1);
    border-left: none;
    border-bottom: none;
    border-right: none;
}
.titreEmprunts{
    height: 10%;
    font-family: "roboto-medium";
    font-size: 22px;
    background-color:rgba(49, 175, 160, 1);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container_Des_gestions{
    width: 25%;
    border: solid 4px rgba(49, 175, 160, 1);
    border-bottom: none;
    border-right: none;
}

.titreGestion{
    height: 10%;
    font-family: "roboto-medium";
    font-size: 22px;
    background-color: rgba(220, 130, 39, 1);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titre{
    font-family: "roboto-medium";
    font-size: 21px;
    color: #AD033A;
}
#zoneNom{
    margin: 2px;
}
#zonePrenom{
    margin: 2px;
}
#zoneAdresse{
    margin: 2px;
}
#zoneVille{
    margin: 2px;
}
#zoneMail{
    margin: 2px;
}
.zoneInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.zoneInfoCotisation{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30%;
    padding-bottom: 100px;
    border: solid 4px rgba(49, 175, 160, 1);
    border-right: none;
    border-left: none;
    border-top: none;
    
}
#zoneInfoAmende{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20%;
    padding-bottom: 10%;
    border: solid 4px rgba(49, 175, 160, 1);
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
}
#boutonModifierAdherent{
   margin-top: 15%;
   margin-bottom: 19%;
   
}
#boutonValiderAdherent{
    
    background-color: #AD033A;
    color: white;
    font-size: 22px;
    font-family: 'roboto-regular';
    width: 250px;
    border: none;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
}
#boutonValiderAdherent:hover{
    background-color:  #31AFA0;
    transform: scale(1.05);
    transition: transform 0.5s ease;
    cursor: pointer;
}
#boutonAnnulerAdherent{
   
    background-color: rgba(220, 130, 39, 1);
    color: white;
    font-size: 22px;
    font-family: 'roboto-regular';
    width: 250px;
    border: none;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 22%;
}
#boutonAnnulerAdherent:hover{
    background-color:  #31AFA0;
    transform: scale(1.05);
    transition: transform 0.5s ease;
    cursor: pointer;
}
.inputDivValider{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
span{
    font-family: "roboto-medium";
    font-size: 17px;
}
.inputText{
    margin: 1px;
    padding: 1px;
    height: 15px;
    width: 300px;
}

#listeDesEmpruntEnCours{
    display: flex;
}
.divEmprunt{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.divEmprunt:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.5s ease;
}
.divEmprunt>img{
    width: 70%;
}

.divEmprunt h2,h3,h4 {
    margin-bottom: 5px;
}
