#maDiv{
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: white;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: solid 4px rgba(49, 175, 160, 1);
    border-radius: 3px;
}
#button{
    background-color: #AD033A;
    color: white;
    font-size: 22px;
    font-family: 'roboto-regular';
    width: 260px;
    border: none;
}
#button:hover{
    background-color:  #31AFA0;
    transform: scale(1.05);
    transition: transform 0.5s ease;
  }
#nomprenom{
    margin-top: 10px;
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-between; 
}
#nom{
    font-family: "baloo-regular";
    color: #AD033A;
    font-size: 2.188rem;
}
#prenom{
    font-family: "baloo-regular";
    color: #AD033A;
    font-size: 2.188rem;
}
#adresse{
    margin-top: 10px;
    margin-bottom: 10px;
}
#titreAdresse {
    display: flex;
    justify-content: center;
    font-family: "baloo-regular";
    color: #AD033A;
    font-size: 2.188rem;
}
#adresseComplete{
    font-family: "roboto-regular";
    font-size: 19px;
}
#mail{
    margin-top: 10px;
    margin-bottom: 10px;
}
#titreMail {
    display: flex;
    justify-content: center;
    font-family: "baloo-regular";
    color: #AD033A;
    font-size: 2.188rem;
}
#adresseMail{
    font-family: "roboto-regular";
    font-size: 19px;
}
#empruntEnCours{
    font-family: "roboto-regular";
    display: flex;

    margin-bottom: 10px;
    align-items: center;
}
#enCours{
    font-family: "roboto-medium";
    font-size: 21px;
    color: #AD033A;
}
#nbEmpruntEnCours{
    margin-left: 5px;
    font-size: 19px;
}
.liste{
    border: solid 3px #31AFA0;
    width: 200px;
    border-radius: 3px;
}
#menuDeroulantListeBd{
    margin-bottom: 50px;

}
#informations{
    margin-bottom: 10px;
    width: 30%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
#cotisation{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
    
}
#titreCotisation{
   font-family: "roboto-medium";
    font-size: 21px;
    color: #AD033A; 
}
#cotisationStatut{
    font-family: "roboto-regular";
    font-size: 19px;
    margin-left: 5px;
}
#solde{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#titreSolde{
    font-family: "roboto-medium";
    font-size: 21px;
    color: #AD033A;
}
#soldeEnEuro{
    font-family: "roboto-regular";
    font-size: 19px;
    margin-left: 5px;
}
#€{
    font-family:"roboto-regular";
}
#boutonsEmprunterEtRendre{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

